video {
  width: 100%;
  height: 250%;
  position: fixed;
  bottom: 40px;
  z-index: -1;
}
.iframe {
  width: 96rem;
  height: 63rem;
  position: relative;
  bottom: 200px;
  z-index: -1;
  /* 
  left: 12px;

  color: transparent; */
}

@media only screen and (max-width: 700px) {
  .iframe {
    display: none;
  }
}
