p {
  display: inline;
  margin-left: 5px;
  color: white;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 706px) {
  .next {
    top: 13rem;
    left: 22rem;
  }
  .prev {
    top: 13rem;
  }
}
@media screen and (max-width: 450px) {
  .prev,
  .next {
    display: inline;
    cursor: pointer;
    color: white;
    font-size: 4rem;
    position: relative;
    /* z-index: -1; */
  }
  .prev {
    top: 10rem;
  }
  .next {
    top: -27rem;
    left: 21rem;
  }
}
