.container {
  display: none;
}
@media only screen and (max-width: 500px) {
  .Home {
    display: flex;
    justify-content: space-between;
  }
  img {
    object-fit: contain;
    width: 120px;
  }
  .container {
    display: block;
    /* margin-top: 10px; */
  }
  .parentLink {
    width: 100%;
    position: fixed;
    z-index: 4;
  }

  .myLinks {
    display: flex;

    background-color: #111;
    flex-direction: column;
  }
  .topnav {
    display: flex;
    width: 100%;
    /* height: 300px; */
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    background-color: #111;
    z-index: 3;

    /* position: relative; */
  }

  .myLinks a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    color: white;
    display: block;
    font-size: 25px;
    margin-right: 15px;
    margin-top: 10px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #04aa6d;
    color: white;
  }
}
