.content{
    display:flex;
    flex-flow:column wrap;
    justify-content:space-between;
    background-image: linear-gradient(45deg, black, transparent);
    padding: 9rem 3rem;
}
.buttonFlex{
    display:flex;
    flex-flow:row wrap;
  /* justify-content:space-between; */
}
.rating,
.overview{
display:flex;
flex-flow:column wrap
}
.overview{
    width:40%
}
h1{
    color:white;
}
button{
    cursor:pointer;
    width:6%;
    border-radius:2px;
    margin-right:7px;
    color:white;
    background-color:transparent;
   border: 0.5px solid #7a7a7a;
}
.btn{
      background-color:rgba(248,6,22,0.870588);
  
}