.searchContainer {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  top: 4rem;
  left: 2rem;
  width: 98%;
}
.skeleton {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  margin: 10px 20px 0px 20px;
}
/* .searchCard img {
  height: inherit;
}
.searchCard {
  height: inherit;
} */
