.searchContainer {
  display: flex;

  flex-flow: row wrap;
  position: relative;
  top: 4rem;
  left: 2rem;
  width: 98%;
}
.skeleton {
 
  margin: 10px 20px 0px 20px;
}
@media only screen and (max-width: 500px) {
.searchContainer {
    width: 100%;
  justify-content: center;
  margin-left: -40px;
}
}